<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-3 rule-list">
      <ul>
        <li *ngFor="let rule of rules$ | async ">
          <a href="">{{rule.name}}</a>
        </li>
      </ul>
    </div>
    <div class="col-9 main">
      <h1>Sélectionnez un jeu</h1>
      <div class="mb-5">
          <button class="ior-btn py-3 px-5">PLAY</button>
      </div>
      <div>
          <button class="ior-btn py-3 px-5" disabled="disabled">SUIVANT</button>
      </div>
    </div>
  </div>
</div>
