@keyframes glowingButton {
  0% { background-color: $primary; box-shadow: 0 0 10px $primary; }
  50% { background-color: #ff00b2; box-shadow: 0 0 60px #ff00b2; }
  100% { background-color: $primary; box-shadow: 0 0 10px $primary; }
}